<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- Location Permissions -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />

    <!-- Camera & microphone -->
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

    <!-- 🔸 Android 13+ needs this to show system-tray notifications -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"
        tools:targetApi="33" />

    <!-- Granular media access, API 33+ -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO"/>
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO"/>

    <!-- Only needed for older devices pre-API 29 -->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <!-- Declare camera feature but make it not required -->
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />

    <application
        android:enableOnBackInvokedCallback="true"
        android:name=".MyApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.AM24"
        tools:targetApi="31">

        <!-- resolve conflict -->
        <property
            android:name="android.adservices.AD_SERVICES_CONFIG"
            android:resource="@xml/gma_ad_services_config"
            tools:replace="android:resource" />

        <!-- 🔸 FCM receiver service -->
        <service
            android:name=".PushService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="606416195185970" />

        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="c2deeaa408a6cc080a2f914008805bcd" />

        <meta-data
                    android:name="com.facebook.sdk.AutoInitEnabled"
                    android:value="true" />
                <meta-data
                    android:name="com.facebook.sdk.AutoLogAppEventsEnabled"
                    android:value="true" />
                <meta-data
                    android:name="com.facebook.sdk.AdvertiserIDCollectionEnabled"
                    android:value="true" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-5266481866342618~3563725191" />

        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <!-- Required for the Facebook SDK -->
        <activity
            android:name="com.facebook.FacebookActivity"
            android:exported="false"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation" />

        <!-- Handles the Custom-Tab redirect that finishes the login flow -->
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- fb + your App ID -->
                <data android:scheme="fb606416195185970" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key"/>

        <!-- FileProvider definition -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>


        <!-- Main activity which acts as the launcher -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.AM24.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" android:host="kupidx.com" />
                <data android:scheme="https" android:host="www.kupidx.com" />
                <data android:scheme="http" android:host="kupidx.com" />
                <data android:scheme="http" android:host="www.kupidx.com" />
            </intent-filter>
        </activity>

        <activity
            android:name=".LandingActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".LoginActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".RegistrationActivity"
            android:exported="true">
        </activity>

        <activity
            android:name=".KupidXAppActivity"
            android:exported="true">
            <!-- Razorpay callback deep-link -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <!-- Matches: kupidx://payment_callback?razorpay_payment_link_status=paid -->
                <data
                    android:scheme="kupidx"
                    android:host="payment_callback"/>
            </intent-filter>
        </activity>

    </application>

</manifest>
